.entire-calculator {
    display: grid;
    grid-template-rows: repeat(5, 100px);
    max-width: 400px;
    border: 2px solid black;
    
}

.clear-and-display {
    display: grid;
    grid-template-columns:  100px 50px 250px;
    grid-template-rows: 100px;
    text-align: right;
    row-gap: 1px;
    
}

.numbers-and-operators {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    text-align: center;

}

.flip-calc-ghost {
    clip-path: inset(478px 210px 478px 210px);
    margin: -478px -210px;
}
